$primary: lightblue;
$secundary: #375A82;
$tertiary: #F8F9FA;
$quaternary: #000000;


*{
    margin: 0;
    padding: 0;
}

.main_body{
    background-color: $primary;
}

.div_container{
    width: 100%;
    height: 70vh;
    background-image: url(../img/tubalao.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.eco-azul{
    width: 29%;
    font-size: 87px;
    color: $tertiary;
    margin-left: 10px; 
    text-align: left;
}

.first_text{
    width: 60%;
    margin: 30px auto;
}

h4{
    margin-top: 10px;
}

.title1{
    width: 80%;
    margin:  auto;
    color: $secundary;
}

.second-text{
    width: 60%;
    margin: auto;
}

.title2{
    width: 80%;
    margin: 30px auto;
    color: $secundary;
}

.third-text{
    width: 60%;
    margin: auto;
}

footer{
    justify-content: center;
    display: flex;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    bottom: 0;
    margin-top: 40px;
}

.container-footer {
    width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
    bottom: 0;
    border: 1px solid #283043;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 0;
    color: #b8b8b8;
    background-color: $tertiary;
}

.container-menu-footer{
    width: 100%;
}

.container-footer .container-menu-footer{
    display: grid;
    grid-template-columns: 0.55fr 0.5fr 0.2fr 0.3fr 0.3fr; 
    grid-template-rows: 100px 50px 30px 30px 30px 30px;
}

.container-social{
    display: inline-flex;
    grid-column: 5/6;
    grid-row: 4/5;
}



.container-social img{
    width: 22px;
}

.container-nav{
    display: contents;
}

.container-nav a{
    text-decoration: none;
    color: $quaternary;
}

.container-nav a:hover{
    color: $secundary;
}

.container-logo-footer{
    display: contents;
}

.container-logo-footer img{
    justify-self: center;
    width: 230px;
    padding: 20px;
}

.container-logo-fiap{
    display: contents;
}

.container-logo-fiap img{
    grid-row: 1/6;
    grid-column: 2/3;
    align-self: center;
    top: 20px;
    width: 200px;
    padding-top:40px ;
}


.nav-footer-1{
    grid-column: 3/4;
    grid-row: 3/4;
}

.nav-footer-2{
    grid-column: 4/5;
    grid-row: 3/4;

}

.nav-footer-3{
    grid-column: 3/4;
    grid-row: 4/5;
}

.nav-footer-4{
    grid-column:3/4;
    grid-row: 5/6;
}

.nav-footer-5{
    grid-column: 4/5;
    grid-row: 4/5;
}


.nav-footer-6{
    grid-column: 5/6;
    grid-row: 3/4;
}

.nav-footer-7{
    grid-column: 5/6;
    grid-row: 3/4;

}

.apoie-btn{
    display: contents;
    
}

.apoie-btn-a{
    grid-column: 4/5;
    grid-row:1/3;
    justify-self: center;
    align-self: center;
    border: 1px solid $secundary;
    height: 50px;
    border-radius: 15px;
    align-content: center;
    padding: 10px;
    font-size: 20px;
}


.apoie-btn-a:hover{
    background-image: linear-gradient(to right, $tertiary, $primary);
}

.apoie-btn a{
    text-decoration: none;
    color: $secundary;
}

@media screen and (max-width: 480px){
    
    .eco-azul{
        width: 48%;
        font-size: 50px;
    }
}

@media screen and (min-width: 481px) and (max-width: 900px){
    
    .eco-azul{
        width: 54%;
        font-size: 65px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1300px){
    
    .eco-azul{
        width: 33%;
        font-size: 70px;
    }
}

